h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Arial, sans-serif;
    font-weight: normal;
}
textarea {
	background-color: lightyellow;
	resize:both;
	min-width: 250px;
	min-height: 100px;
}
fieldset {
	background-color: lightblue;
}
legend{
    color: #0073EA;
    font-size: 20px;
}
ul {
  list-style-type: none;
}
li {
    display: inline;
}
#slidePanel {
    position: fixed;
    border: 1px solid #ccc;
    background: #f2f2f2;
    right: 0;
    top: 250px;
    width:400px;
    height:400px;
    margin-right:-400px;
    padding:10px;
}
#slidePanelTab {
    float:left;
    margin-left: -50px;
    margin-top: -10px;
}
.contentPanel {
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px;
}
