<h4>MODELO DE DOCUMENTO</h4>

<fieldset>
    <label style="width: 99%;">Nome<br/>
        <input type="text" name="nome" value="" style="width: 100%;height:25px;" />
    </label>
    <label style="width: 99%;">Descricao<br/>
        <input type="text" name="descricao" value="" style="width: 100%;height:25px;" />
    </label>
    <br/>
</fieldset>

<button type="button" class="btn btn-primary" onclick="AbrirDialogo('newDocumentField');" >Novo Campo</button>

<table id="campos">
    <tr>
        <td>Nome do campo</td><td>Formato</td><td>Ações</td>
    </tr>
</table>
