<div class="modal fade" role="dialog" id="novoModelo">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modelo de Documento</h4>
            </div>
            <div class="modal-body">
                <label style="width: 99%;">Nome<br/>
                    <input type="text" name="nome" value="" style="width: 100%;height:25px;" />
                </label>
                <label style="width: 99%;">Descricao<br/>
                    <input type="text" name="descricao" value="" style="width: 100%;height:25px;" />
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="InserirNovo();CloseDialog()">Incluir</button>
                <button type="button" class="btn btn-default" onclick="CloseDialog()">Descartar</button>
            </div>
        </div>

    </div>
</div>
